#nav
{
	margin: 2px 2pt;
	position:relative;
	float: left;
	width:  200px;
	z-index: 2;
	overflow: hidden;
	margin-top:3px;
}

#loading_tags,
#loading_feeds
{
	color: #000;
	z-index: 50;
	width:100%;
	position: relative;
	float: top;
	font-weight: bold;
	font-size: 150%;
	text-decoration: blink;
	display: none;
	z-index: 4;
}
#loading_tags td.s,
#loading_feeds td.s
{
	background-color: #6bc290;
}
#loading_tags .c,
#loading_feeds .c
{
	background: #b5edbc;
	padding: 0 0 1px 8px;
}
.sub-tree-header-loading
{
	color: #FF0000;
	padding: 0.2em 0.4em;
	font-weight: bold;
}

.menuIcon
{
	background-color: transparent;
	width: 30px;
}

.menuName
{
	font-weight: normal;
	font-size: 80%;
	background-color: transparent;
	width: 100%

}

#menu_main,
#menu_tags,
#menu_feeds,
#menu_add_feed
{
	color: #000;
	z-index: 50;
	width: 100%;
	position: relative;
	float: top;
}

#menu_main td.s,
#menu_tags td.s,
#menu_feeds td.s,
#menu_add_feed td.s
{
	background-color: #6bc290;
}

#menu_main .c,
#menu_tags .c,
#menu_feeds .c,
#menu_add_feed .c
{
	background: #b5edbc;
	width: 100%;
	position: relative;
	float: top;
}

#quick-add-helptext,
#quick-add-instructions {
clear: both;
color: #555;
font-size: 75%;
}
#quick-add-helptext a
{
	font-weight: bold;
}
#quickadd
{
	width: 100%;
	position: relative;
	float: top;
}

#selectors-box1,
#selectors-box2,
#selectors-box3,
#selectors-box4
{
	margin: 2px 0;
}


#selectors-box1 .c,
#selectors-box2 .c,
#selectors-box3 .c,
#selectors-box4 .c
{
	padding: 0 0 0 8px;
	width: 97%;
	position: relative;
	float: top;

}

#selectors-box1 ul,
#selectors-box1 li,
#selectors-box2 ul,
#selectors-box2 li,
#selectors-box3 ul,
#selectors-box3 li,
#selectors-box4 ul,
#selectors-box4 li
{
	padding: 0;
	margin: 0;
}


.round-box {
empty-cells: show;
}
.round-box td {
padding: 0;
margin: 0;
}
.round-box .s {
font-size: 1px;
line-height: 1px;
}
.round-box td.s,
.round-box td.c {
background-color: #ccc;
}
.round-box .tl,
.round-box .tr,
.round-box .bl,
.round-box .br {
width: 3px;
height: 3px;
background-repeat: no-repeat;
}
.round-box .sq {
background-image: none;
}

.sub-tree-header
{
padding: 0.2em 0.4em;
font-weight: bold;
}
