html
{
	overflow: hidden;
}

html, body
{
	margin: 0;
	font-size: 90%;
}

html, body, input
{
	font-family: arial, sans-serif;
	font-weight: normal;
}

body
{
	background: #fff url("../images/body_bkg.png") repeat-x 0 0;
	color: #000;
}

div, form
{
	margin: 0;
}

a,
a:visited,
ul#reading-list li,
.link
{
	color: #1010c8;
}

.link
{
	text-decoration: underline;
	cursor: pointer;
}
a:focus
{
	-moz-outline: 0;
}

a:focus,
.unselectable
{
	-moz-user-select: none;
}

a.internal,
.link.internal
{
	color: #a00;
}

input
{
	font-size: 85%;
}

div.clr
{
	clear: both;
}

.hidden
{
	display: none;
}

.link
{
	color: #1010c8;
	text-decoration: underline;
	cursor: pointer;
}

.catName
{
	font-size: 90%;
}

.error
{
	color: #FFFFFF;
	font-size: 150%;
	background-color: #FF0000;
	width: 84%;
	height: 4%;
	text-align: right;
	margin-left: 16%
}

.processing
{
	color: #FFFFFF;
	font-size: 130%;
	background-color: #CF0000;
	margin:1px 0pt;
	width: 100%;
	height: 21px;
	text-align: center;
}

#pag
{
	width: 99%;
	height: 99%;
}